body{
background-color: rgb(224, 224, 224);
font: normal 15pt italic;
}

header{
    color: white;
    text-align: center;
}

section{
background-color: rgb(255, 255, 255);
border-radius: 0.6rem;
padding: 0.9rem;
width: 31.2rem;
margin: auto;
box-shadow: 0.1rem 0.1rem 0.8rem rgba(0, 0, 0, 0.384);

}

div {
    text-align: center;
    padding: 8px;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    padding-top: 0.9rem;
    display: flex;
    justify-content: center;
}